@charset "utf-8";

body{
    background-color: #999999;
}

div{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    text-align: center;
    margin: auto;
    width: 200px;
    height: 200px;
}

#uma:hover{
    background-color: lawngreen;
}

#duas:hover{
    background-color: aqua;
}

#tres:hover{
    background-color: crimson;
}